<div class="col-md-3">
	<ul>
	<% unless items.blank? or items.nil? %>
	<% items.each do |item| %>
		<li>
			<b><%= item[0] %></b></br>
			<% unless item[1].nil? or item[1].blank? %>
				<% item[1].each do |i| %>
					<% if i.strip == 'Aronia' %>
						<%= link_to i, "/aronia/aronia" %>
					<% else %>
						<%= link_to i, "#" %></br>
					<% end %>
				<% end %>
			<% end %>
		</li>
		</br>
	<% end %>
	<% end %>
	</ul>
</div>