	<div class="col-md-3">
		<div class="thumbnail">
    	<%= image_tag img %>
	    <div class="caption">
	    	<h4><%= name %></h4>

	    	<p class="text-center">BH <%= number %></p>
	    	<p class="text-center"><%= location %></p>

	    </div>
    </div>
	</div>