// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: rgba(235,219,197,.3);
}

.navbar-brand {
	color: white;
	font-size: 36px;
	font-weight: bold;
}

.navbar {
	border: 0;
	margin: 100px 0 0 100px;
}

#homepage-list {
	position: relative;
}

.jumbotron{
	background: url(/assets/oxalis.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 450px;
	margin: 0;
}

.tab-pane {
	padding-top: 20px;
}

.navbar-form {
	margin: 0;
	padding: 0;
	margin-left: 5px;
}

#btn-search {
	margin-bottom: -5px;
}



